<a href="https://colab.research.google.com/github/dsperax/colab-ml-py/blob/main/project1-buy-it%3F.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## Taxa de conversão de vendas

### ler arquivo CSV (pandas)
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [ ]:
### renomear
mapa = {
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprou?"
}
dados = dados.rename(columns = mapa)

In [ ]:
x = dados[["principal", "como_funciona","contato"]]
x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [ ]:
y = dados["comprou?"]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou?, dtype: int64

In [ ]:
### Separando treino do teste

dados.shape

(99, 4)

In [ ]:
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]

print("O treinamento é feito com %d elementos e o teste com %d elementos" % (len(treino_x,), len(teste_x)))

O treinamento é feito com 75 elementos e o teste com 24 elementos

In [ ]:
### Treinando algoritimo

# importa biblioteca
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

# passa os parâmetros (ensina)
model = LinearSVC()
model.fit(treino_x, treino_y)
previsoes = model.predict(teste_x)

### medindo a acuracidade

acuracia = accuracy_score(teste_y, previsoes)
print("A acuracia foi %.2f%%" % (acuracia * 100))

A acuracia foi 95.83%

In [ ]:
# Utilizando a biblioteca para acuracidade

In [ ]:
## importa biblioteca
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

### Definindo numero inicial

SEED = 20

### Stratify para deixar as quantidades do teste proximas as quantidades do treino

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state = SEED, test_size = 0.25, stratify = y)
print("O treinamento é feito com %d elementos e o teste com %d elementos" % (len(treino_x,), len(teste_x)))

## passa os parâmetros (ensina)
model = LinearSVC()
model.fit(treino_x, treino_y)
previsoes = model.predict(teste_x)

### medindo a acuracidade

acuracia = accuracy_score(teste_y, previsoes)

print("A acuracia foi %.2f%%" % (acuracia * 100))

O treinamento é feito com 74 elementos e o teste com 25 elementos
A acuracia foi 96.00%

In [ ]:
treino_y.value_counts()

0    49
1    25
Name: comprou?, dtype: int64

In [ ]:
teste_y.value_counts()

0    17
1     8
Name: comprou?, dtype: int64